@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}

body {
  color:rgb(0, 6, 3);
  background: rgb(248, 255, 251);  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
